/* Global */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --color-body-darker: #5c5577;
  --border-radius: 40px;
}

/* Typography */

::selection {
  background-color: var(--color-primary);
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: var(--color-body);
  font-size: 2.4rem;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  line-height: 1.1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: transparent;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 4px;
  transition: margin 0.2s ease-in;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  padding: 0.6rem 1.4rem;
  white-space: nowrap;
  font-size: 2rem;
}

.badge--primary {
  background-color: #02cdf1;
}

.badge--secondary {
  background-color: #126de4;
}

.badge--outline {
  color: var(--color-headings);
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 1rem;
  margin-bottom: 2.4rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 3.3rem;
  font-weight: bold;
}

.list--tick {
  list-style-image: url(images/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);
}

.list--tick .list__item {
  padding-left: 1rem;
}

.list--collapsible {
  color: #535353;
  margin-top: 0;
  margin-bottom: 4rem;
  padding: 0;
  text-transform: capitalize;
}

.list--collapsible .list__item {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
  margin: 1rem;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  align-items: center;
  background-color: #f9f3f9;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
  border-radius: 100%;
}

.icon-container--accent {
  background-color: var(--color-accent);
}

.icon--search {
  width: 22px;
  height: 22px;
  margin-right: 1rem;
}

.icon--white {
  fill: #fff;
}

.icon--small {
  width: 30px;
  height: 30px;
}

/* Buttons */

.button {
  border-radius: 40px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.8rem;
  padding: 1.8rem 2.3rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--primary {
  background-color: var(--color-accent);
}

.btn--primary:hover {
  background-color: #fd4517;
}

.btn--secondary {
  background-color: var(--color-secondary);
}

.btn--secondary:hover {
  background-color: #00c8eb;
}

.btn--search {
  align-items: center;
  display: inline-flex;
  padding: 1rem 3vw;
}

.btn--outline {
  background-color: #fff;
  border: 3px solid var(--color-headings);
  color: var(--color-headings);
  font-weight: normal;
}

.btn--outline:hover {
  background-color: var(--color-headings);
  color: #fff;
  font-weight: bold;
}

.btn--callout {
  width: 24rem;
  height: 6rem;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
    padding: 1.2rem 2.3rem;
  }

  .btn--search {
    padding: 0.4rem 2rem;
  }
}

/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 3px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem;
  display: inline-block;
}

::placeholder {
  color: var(--color-border);
  font-weight: 300;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: inline-flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  width: 100%;
}

.input-group .btn--primary {
  margin: 4px;
}

.input-group--block {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
    padding: 1rem 3.5rem;
  }
}

/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px var(--color-border);
  font-size: 2rem;
  overflow: hidden;
  margin: 4rem auto;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.card--secondary:hover {
  transform: scale(1.05);
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

.card__price,
.card__description {
  font-weight: normal;
}

.card__name {
  font-size: 2.4rem;
  margin: 0;
}

.card__price {
  font-size: 6rem;
}

.card__billing-time {
  color: #ddf8ff;
  margin: 0 1.5rem 0 0.5rem;
  font-weight: 300;
  opacity: 0.8;
}

.card__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0.5rem auto;
}

.card__body .list__item {
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.card--popular {
  transform: scale(1.1);
}

.card--popular:hover {
  transform: scale(1.15);
}

.card--popular .card__header {
  position: relative;
}

.card--popular .card__header::before {
  content: url(images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -2px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .card {
    font-size: 1.8rem;
    margin: 1rem 2rem;
  }

  .card__name {
    font-size: 1.4rem;
  }

  .card__price {
    font-size: 5rem;
  }

  .card__billing-time {
    font-size: 1.6rem;
  }

  .card__description {
    font-size: 1.7rem;
  }

  .card__body .list__item:last-child {
    margin-bottom: 6rem;
  }

  .card--popular .card__header::before {
    width: 30px;
  }
}

/* Media Objects */

.media {
  display: flex;
}

.media__body {
  margin: 1.5rem;
}

.media__head {
  margin: 0 0 0.5rem 0;
  font-size: 2.4rem;
  font-weight: 600;
}

.media p {
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .media__head,
  .media__body {
    font-size: 1.8rem;
  }
}

/* Quotes */

.quote {
  color: var(--color-body-darker);
  font-size: 3rem;
  font-style: italic;
  line-height: 1.3;
  margin-bottom: 5rem;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__footer {
  margin: 0;
  font-style: normal;
}

.quote__footer .media__head {
  text-transform: capitalize;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.quote__footer p {
  color: var(--color-headings);
  opacity: 0.4;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__footer .media__head {
    font-size: 2.4rem;
  }

  .quote__footer p {
    font-size: 1.6rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials*/

.block.testemonial-block{
  padding: 1rem;
}

.testimonial .grid {
  padding: 3rem;
}

.testimonial__image-container {
  position: relative;
  margin: 0 3rem 3rem;
}

.testimonial__image-container > img {
  width: 100%;
}

.testimonial__image-container > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px; /* half of the icon width to put it in the center*/
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .quote__footer .media__head {
    font-size: 1.8rem;
  }

  .testimonial .grid {
    align-items: center;
    padding: 2rem 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .testimonial .quote {
    font-size: 2.4rem;
    line-height: 1.5;
  }

  .quote .quote__text {
    padding-top: 3rem;
  }

  .testimonial .grid {
    padding: 3rem 0 0;
  }

  .testimonial {
    margin: 3rem 4rem;
  }
}

/* Callouts */

.callout {
  border-radius: 5px;
  padding: 4rem 5rem;
  margin: 2rem auto;
  max-width: 950px;
}

.callout--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.callout__text {
  margin-right: 3rem;
}

.callout__text > h2 {
  color: inherit;
  margin-top: 0;
}

.grid .button {
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .callout {
    text-align: left;
  }

  .callout--down {
    transform: translateY(15rem);
  }

  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .grid .button {
    align-self: center;
    width: 22rem;
  }
}

/* Collapsibles */

.collapsible {
  padding: 0.1rem 4rem;
}

.collapsible--bottom-page {
  background-color: black;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible__title {
  margin: 0;
  margin-bottom: 1.2rem;
  color: #fff;
  font-weight: 700;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.collapsible__chevron {
  margin-top: 0;
  transition: transform 0.3s ease-out;
  transform: rotate(-90deg);
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.collapsible--bottom-page > hr {
  background-color: #393939;
  border: 0;
  height: 2px;
  width: 104%;
  position: relative;
  right: 10px;
}

/* Blocks */

.block {
  --vertical-padding: 6rem;
  padding: var(--vertical-padding) 4rem;
  color: #7b858b;
}

.block--dark {
  background-color: #000;
}

.block__heading {
  text-align: center;
  margin-bottom: 5rem;
}

.block__content {
  align-self: flex-end;
}

.block__title {
  margin-top: 0;
  margin-bottom: 2rem;
}

.block--dark .block__title {
  color: #fff;
  margin-top: 0;
}

.block--skewed {
  padding-bottom: calc(var(--vertical-padding) + 4rem);
}

.block--skewed--right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

.block--skewed--left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* NavBars */

.nav-block {
  padding: 0;
}

.nav {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
}

.nav--dark {
  background-color: #000;
}

.nav__list {
  width: 100%;
  padding-left: 3rem;
  margin: 0;
}

.nav__item {
  border-bottom: 1px dotted darkgray;
  padding: 0.5rem 0 0.5rem 1rem;
}

.nav__item:last-child {
  margin-bottom: 3rem;
}

.nav__item > a {
  color: #c9c6cf;
  transition: color 0.3s linear;
}

.nav__item:hover {
  background-color: #111;
}
.nav__item:hover > a {
  color: #fff;
}

.nav .icon {
  margin: 0.5rem;
}

.nav__toggler {
  opacity: 0.5;
  transition: all 0.2s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #555;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.7rem;
    max-height: 100%; /* these last two styles to make list visible beacuse*/
    opacity: 1; /* in the expanded form it was invisible*/
  }

  .nav__item {
    border: 0;
    padding: 1.5rem;
  }

  .nav__item:last-child {
    margin-bottom: 0;
  }
}

/* Hero */

.hero-block {
  padding-top: 0;
}

.hero {
  padding-top: 10rem;
}

.hero__header {
  align-self: center;
}

.hero__tagline {
  color: #70767d;
  letter-spacing: 1px;
  padding: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero .block__heading {
    text-align: left;
  }

  .hero__tagline {
    padding: 0.5rem 0 1rem;
  }
}

/* Domain Block */

.block-domain .input-group {
  border: 0;
  box-shadow: 0 0 30px 20px #e6ebee;
  margin: 4rem auto;
}

.block-domain__prices {
  display: grid;
  grid-template: repeat(2, 6rem) / repeat(2, 50%);
  gap: 2rem;
  align-items: center;
  justify-items: center;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .block-domain__prices {
    grid-template-rows: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    /* automatically equally distribute the available space on the available items 
    (very extensible for removing/adding an item) */
  }

  .block-domain .input-group {
    min-width: 700px;
  }
}

/* Plan Blocks */

.plans {
  padding-top: 0;
}

.block-plans .card {
  max-width: 500px;
}

@media screen and (min-width: 1024px) {
  .block-plans .card {
    margin: 4rem 2rem;
  }
}

/* Features */

.block-features .block__heading {
  max-width: 500px;
  margin-bottom: 9rem;
}

.features-body {
  gap: 4rem;
  margin-bottom: 14rem;
}

.features-body:first-child {
  margin-top: 6rem;
}

.features-body .media {
  flex-direction: column;
}

.features-body .media .media__body {
  margin-left: 0;
}

.block-features__image {
  align-self: flex-end;
}
.block-features__image > img {
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .features-body {
    grid-template-areas: "lefty righty";
  }

  .features-body:nth-of-type(even) .block-features__image {
    grid-area: lefty;
  }

  .features-body:nth-of-type(even) .media {
    grid-area: righty;
  }

  /* We can use 'order: 2' style */
}

/* Showcase Block*/

.showcase {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 94%);
}

.block__picture .block__image {
  width: 100%;
  margin-bottom: 2rem;
  align-self: center;
}

.showcase .media .media__head {
  color: #fff;
  margin-top: 0;
}

.showcase .media .media__body {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .showcase__content {
    grid-template-columns: 50% 50%;
  }

  .block__picture {
    justify-self: end;
    align-self: center;
  }

  .block__picture .block__image {
    width: auto;
    max-width: 700px;
  }
}

/* Footer Block*/

.footer {
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__content {
  margin-bottom: 4rem;
}

.footer__aside {
  text-align: center;
}

.footer__aside .ending {
  color: #fff;
  opacity: 0.3;
  margin: 0;
}

.footer__section {
  background-color: inherit;
}

.footer__title {
  text-transform: uppercase;
}

.footer__list .list__item a{
  transition: color 0.15s ease-in;
  color: #6f6f6f;
}
.footer__list .list__item:hover a{
  color: #bbb;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 4rem;
    padding-top: 22rem;
    flex-direction: row-reverse; /* we can use grid--1x5 */
    justify-content: center;
  }

  .footer__content {
    display: flex;
  }

  .footer__content .collapsible {
    font-size: 1.5rem;
    padding: 0;
  }

  .footer__section {
    margin-left: 2rem;
  }

  .footer__aside {
    margin-right: 4rem;
  }

  .footer__title + .icon,
  .footer__section hr {
    display: none;
  }

  .footer__title {
    font-size: 1.6rem;
  }

  .footer__section .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .footer__section {
    margin-left: 4rem;
  }

  .footer__aside {
    margin-right: 6rem;
  }
}

.foot {
  transform: translateY(-12rem);
}