<div class="collapsible collapsible--bottom-page collapsible--expanded">
  <header class="collapsible__header">
    <h3 class="collapsible__title">Products</h3>
    <img
      src="images/chevron.svg"
      alt="A chevron image"
      class="icon collapsible__chevron"
    />
  </header>
  <div class="collapsible__content">
    <ul class="list list--collapsible">
      <li class="list__item">word webHosting</li>
      <li class="list__item">free automated wordpress</li>
      <li class="list__item">migrations</li>
      <li class="list__item">domain names</li>
      <li class="list__item">monthly web hosting</li>
    </ul>
  </div>
  <hr />
</div>
<script src="js/main.js"></script>