<section class="block block-features">
  <header class="block__heading container">
    <h2 class="block__title">Host On The Cloud to Keep Growing</h2>
    <p class="block__headline">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
      blanditiis! Atque facilis.
    </p>
  </header>
  <main>
    <article class="grid grid--1x2 block__content features-body">
      <div class="media">
        <div class="media__image">
          <div class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </div>
        </div>
        <div class="media__body">
          <h3 class="media__head">Super easy to use</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
            cupiditate asperiores vel rerum veritatis animi labore cumque, quae
            aut adipisci sed amet tempore harum inventore consequatur aperiam
            nobis praesentium voluptate?
          </p>
          <a
            href="https://codewithmosh.com"
            target="__blank"
            class="link-arrow"
          >
            learn more
          </a>
        </div>
      </div>
      <picture class="block-features__image">
        <source
          type="image/webp"
          srcset="images/easy@1x.webp 1x, images/easy@2x.webp 2x"
        />
        <img src="images/easy.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 block__content features-body">
      <div class="media">
        <div class="media__image">
          <div class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#computer"></use>
            </svg>
          </div>
        </div>
        <div class="media__body">
          <h3 class="media__head">Simply Fast Websites</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
            cupiditate asperiores vel rerum veritatis animi labore cumque, quae
            aut adipisci sed amet tempore harum inventore consequatur aperiam
            nobis praesentium voluptate?
          </p>
          <a
            href="https://codewithmosh.com"
            target="__blank"
            class="link-arrow"
          >
            learn more
          </a>
        </div>
      </div>
      <picture class="block-features__image">
        <source
          type="image/webp"
          srcset="images/fast@1x.webp 1x, images/fast@2x.webp 2x"
        />
        <img src="images/fast.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 block__content features-body">
      <div class="media">
        <div class="media__image">
          <div class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#settings"></use>
            </svg>
          </div>
        </div>
        <div class="media__body">
          <h3 class="media__head">WordPress made easily</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
            cupiditate asperiores vel rerum veritatis animi labore cumque, quae
            aut adipisci sed amet tempore harum inventore consequatur aperiam
            nobis praesentium voluptate?
          </p>
          <a
            href="https://codewithmosh.com"
            target="__blank"
            class="link-arrow"
          >
            learn more
          </a>
        </div>
      </div>
      <picture class="block-features__image">
        <source
          type="image/webp"
          srcset="images/wordpress@1x.webp 1x, images/wordpress@2x.webp 2x"
        />
        <img src="images/wordpress.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 block__content features-body">
      <div class="media">
        <div class="media__image">
          <div class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </div>
        </div>
        <div class="media__body">
          <h3 class="media__head">24/7 Expert Support</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
            cupiditate asperiores vel rerum veritatis animi labore cumque, quae
            aut adipisci sed amet tempore harum inventore consequatur aperiam
            nobis praesentium voluptate?
          </p>
          <a
            href="https://codewithmosh.com"
            target="__blank"
            class="link-arrow"
          >
            learn more
          </a>
        </div>
      </div>
      <picture class="block-features__image">
        <source
          type="image/webp"
          srcset="images/support.webp 1x, images/support@2x.webp 2x"
        />
        <img src="images/support.jpg" alt="" />
      </picture>
    </article>
  </main>
</section>
