<section class="block block--dark block footer">
  <main class="footer__content">
    <div
      class="
        collapsible collapsible--bottom-page collapsible--expanded
        footer__section
      "
    >
      <header class="collapsible__header">
        <h3 class="collapsible__title footer__title">Products</h3>
        <img
          src="images/chevron.svg"
          alt="A chevron image"
          class="icon collapsible__chevron"
        />
      </header>
      <div class="collapsible__content">
        <ul class="list list--collapsible footer__list">
          <li class="list__item">word webHosting</li>
          <li class="list__item">free automated wordpress</li>
          <li class="list__item">migrations</li>
          <li class="list__item">domain names</li>
          <li class="list__item">monthly web hosting</li>
        </ul>
      </div>
      <hr />
    </div>
    <div
      class="
        collapsible collapsible--bottom-page collapsible--expanded
        footer__section
      "
    >
      <header class="collapsible__header">
        <h3 class="collapsible__title footer__title">Company</h3>
        <img
          src="images/chevron.svg"
          alt="A chevron image"
          class="icon collapsible__chevron"
        />
      </header>
      <div class="collapsible__content">
        <ul class="list list--collapsible footer__list">
          <li class="list__item">word webHosting</li>
          <li class="list__item">free automated wordpress</li>
          <li class="list__item">migrations</li>
          <li class="list__item">domain names</li>
          <li class="list__item">monthly web hosting</li>
        </ul>
      </div>
      <hr />
    </div>
    <div
      class="
        collapsible collapsible--bottom-page collapsible--expanded
        footer__section
      "
    >
      <header class="collapsible__header">
        <h3 class="collapsible__title footer__title">Support</h3>
        <img
          src="images/chevron.svg"
          alt="A chevron image"
          class="icon collapsible__chevron"
        />
      </header>
      <div class="collapsible__content">
        <ul class="list list--collapsible footer__list">
          <li class="list__item">word webHosting</li>
          <li class="list__item">free automated wordpress</li>
          <li class="list__item">migrations</li>
          <li class="list__item">domain names</li>
          <li class="list__item">monthly web hosting</li>
        </ul>
      </div>
      <hr />
    </div>
    <div
      class="
        collapsible collapsible--bottom-page collapsible--expanded
        footer__section
      "
    >
      <header class="collapsible__header">
        <h3 class="collapsible__title footer__title">Domains</h3>
        <img
          src="images/chevron.svg"
          alt="A chevron image"
          class="icon collapsible__chevron"
        />
      </header>
      <div class="collapsible__content">
        <ul class="list list--collapsible footer__list">
          <li class="list__item">word webHosting</li>
          <li class="list__item">free automated wordpress</li>
          <li class="list__item">migrations</li>
          <li class="list__item">domain names</li>
          <li class="list__item">monthly web hosting</li>
        </ul>
      </div>
      <hr />
    </div>
  </main>
  <aside class="footer__aside">
    <img src="images/logo.svg" alt="The Website's logo" />
    <h6 class="ending">Copyright &copy; 2021 James</h6>
  </aside>
</section>
