<section
  class="
    block block--dark block--skewed block--skewed--left
    grid grid--1x2
    hero
    container
  "
>
  <header class="block__heading block__content">
    <h1 class="block__title">Cloud Hosting for Pros</h1>
    <p class="hero__tagline">Deploy your website in less than 60 seconds.</p>
    <a href="#" class="button btn--primary">get started</a>
  </header>
  <picture>
    <source
      type="image/webp"
      srcset="images/banner@1x.webp 1x, images/banner@2x.webp 2x"
    />
    <source
      type="image/png"
      srcset="images/banner@1x.png 1x, images/banner@2x.png 2x"
    />
    <img src="images/banner.png" alt="" class="hero__image" />
  </picture>
</section>
