<div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#wordpress"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__head">Extra information to drag here</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
        cupiditate asperiores vel rerum veritatis animi labore cumque, quae
        aut adipisci sed amet tempore harum inventore consequatur aperiam
        nobis praesentium voluptate?
      </p>
    </div>
  </div>