<section class="block block--dark block--skewed block--skewed--right showcase">
  <header class="block__heading container">
    <h2 class="block__title">User Friendly Control Panel</h2>
  </header>
  <main class="grid grid--1x2 block__content showcase__content container">
    <picture class="block__picture">
      <source
        type="image/webp"
        srcset="images/ipad@1x.webp 1x, images/ipad.webp 2x"
      />
      <img class="block__image" src="images/ipad.png" alt="" />
    </picture>
    <ul class="list">
      <li class="list__item">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__head">Easy Start & Managed Business</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
              cupiditate asperiores vel rerum veritatis animi labore cumque,
              quae aut adipisci sed amet tempore harum inventore consequatur
              aperiam nobis praesentium voluptate?
            </p>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__head">Staging Git & WP-C7</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
              cupiditate asperiores vel rerum veritatis animi labore cumque,
              quae aut adipisci sed amet tempore harum inventore consequatur
              aperiam nobis praesentium voluptate?
            </p>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__head">Dynaming Caching & More</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
              cupiditate asperiores vel rerum veritatis animi labore cumque,
              quae aut adipisci sed amet tempore harum inventore consequatur
              aperiam nobis praesentium voluptate?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </main>
</section>
